body{
    background: #f3f0e4;
}

b.title {
    color: orange;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
}

div.ans {
    color: #ffc760;
    background: #76a000fa;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    height: 20px;
    display: inline-block;
    font-size: 10px;
}

dl, ol {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #709600;
    margin: -15px 3px;
    font-size: 18px;
}


p.ans-div {
    border-bottom: solid 1px #eebb0d42;
    margin: 40px;
}

i{
    font-weight: bold;
}




@media (max-width: 1024px){
.navbar-dark .navbar-toggler {
    /* color: rgb(255 255 255); */
    border-color: #FF5722;
    float: left!important;
    text-align: left;
    margin: 0 184vh 0 0;
}
}