.container{
    background: #f3f0e4fa;
    padding: 50px 0;
    border-top: solid 1px #ff6f00;
}

b.title {
    color: orange;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
}

div.ans {
    color: #ffc760;
    background: #76a000fa;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    height: 20px;
    display: inline-block;
    font-size: 10px;
}
.subtitles, dl, ol {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #709600;
    margin: -15px 3px;
    font-size: 18px;
}


p.ans-div {
    border-bottom: solid 1px #eebb0d42;
    margin: 40px;
    width: 60%;
    padding: 30px 10px;
    background: #ffc1072b;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

i {
    font-weight: bold;
    letter-spacing: -1px;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
}


.btn-fixed{
    display: none;
}

dl, ol {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #4e4e4e;
    margin: -15px 3px;
    font-size: 18px;
}

ol li{
    padding: 10px;
}

@media (max-width: 1024px){
    p.ans-div {
    border-bottom: solid 1px #a1c635;
    margin: 40px;
    background: #ffc10733;
    padding: 30px 10px;
    font-size: 17px;
    border-radius: 5px;
    font-family: monospace;

}

body{
    background: #f3f0e4fa;
}
.container{
    padding: 2%;
}

p.ans-div {
    width: 80%;
    text-align: left;
}
i {
    font-weight: 600;
    font-size: 18px;
    text-align: justify;
    font-style: initial;
    letter-spacing: 1px;
}

.btn-fixed {
    display: block;
    position: fixed;
    bottom: 45%;
    right: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: solid 1px #97c120e8;
}

.images{
    width: 100%;
    border-radius: 50%;
}

.btn-fixed::after {
    content: "1";
    bottom: 7px;
    right: -6px;
    color: white;
    background: #ff740a;
    /* padding: 0 6px; */
    height: 20px;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    text-align: center;
    font-size: 10px;
    padding: -10px;
}
}